.header {
  background-color: #BA637C;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  width: 100%;                
  position: fixed;            /* Fix the header to the top */
  top: 0;                    
  left: 0;                    
  z-index: 1000;              /* Ensure it stays above other content */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header-container{
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: relative;
  
}

.nav {
  display: flex;
}

.menu-container {
  display: flex;
  justify-content: space-between; /* Distribute space between buttons */
  width: 97%; /* Ensure the container takes up full width */
}




.logo-container {
  display: flex;
  align-items: center;
  margin-left: auto; /* Remove the fixed margin */
  margin-right: auto; /* Center the container */
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 8px
  
}

.logo-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  
}

.logo {
  width: 10vw; /* Use viewport width for responsive scaling */
  max-width: 50px; /* Set a maximum width */
  height: auto;
  margin-top: -20%;
}

/* Media Query for smaller screens */
@media (max-width: 768px) {
  .logo {
    width: 15vw; 
    margin-left: 100%;
  }
}

/* Media Query for very small screens */
@media (max-width: 480px) {
  .logo {
    width: 30vw; 
    margin-left: 200%;
  }
}