.left-button-container{
    display: flex;
    align-items: center;
  }
  
  .button-wrapper {
    display: flex;
    align-items: center;
    background-color: #7A1145; /* Purple background */
    border-radius: 80px; /* Rounded corners */
    padding: 10px ; /* Padding around the button */
    color: white;
    text-decoration: none;
    width: 120px;
    height: 35px;
    justify-content: space-between;
  }
  
  .button-wrapper:hover {
    background-color: #923061;
  }